* {
    padding: 0;
    margin: 0;
}

a {
    all: unset;
    cursor: pointer;
}
a:hover {
    font-weight: bold;
}

a:active {
    scale: 1.02;
}

body {
        font-family: 'Helvetica';


}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-right: 5px;
}

header {
    padding: 2cqb;
    background-color: darkblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /*main axis*/
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}
h1 {
    font-size: 36px;
    font-weight: bold;
    padding-left: 5%;
    padding-right:5%;
    margin-bottom: 25px;
}

h3 {
    font-weight: bold;
    text-align: center;
}

h2 {
    margin: 30px auto;
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    background-color: darkblue;
    color: white;
    padding: 50px;
}
#about_img {
    margin-bottom: 25px;
    border-radius: 5px;;
}
.chapter {
    text-align: center;
    color: darkblue;
    margin: 30px auto;
}

.chapter_box {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.light {
    background-color: white ;
    
    /*border: 5px solid rgb(241, 241, 241);*/
}
.light h2 {
    color: #2c3338;
}
.light p {
    color: darkgray;
}

.dark#hero{
        background-image: url('assets/13169.jpg');
        background-size: cover;


}
.dark {
    background-color: white;
    background-image: url('assets/blue_background.jpg');
    background-size: cover;
}
.dark h1 {
    color: white;
}
.dark h2 {
    color: white;
}
.dark p {
    color: white;
}


.snt_container {
    display: flex;
    flex-direction: row;
    align-items: flex-center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.snt_item {
    background-color: rgb(241,241,241);
    padding: 25px;
    margin: 5px;
    border-radius: 5px;
    width:200px;
    
}

.snt_item h3 {
    color: black;
    margin-bottom: 10px;
}
.snt_item p {
    color: #777777;
    font-size: 0.9em;
    text-align: center;
}

.projects_container {
    display: flex;
    flex-direction: row;
    align-items: flex-cemter;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.project_container {
    background-color: white;
    border-radius: 5px;
    margin: 5px auto;
    width: 200px;
}

.project_item_top {
    border-radius: 5px 5px 0px 0px;
    background-color: darkgray;
    padding: 15px;
    text-align: center;
}
.project_item_bottom {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
    text-align: left;
}



.project_item_bottom h3 {
    font-size: 0.9em;
    margin-bottom: 10px;
    text-align: center;
}

.project_item_bottom p {
    font-size: 0.9em;
    margin-bottom: 15px;
    color:#2c3338;


}
.keyword {
    background-color: rgb(189, 226, 238);
    border-radius: 10px;
    font-size: 0.7em;
    color: darkblue;
    padding: 3px;
    text-align: left;
   
}


 
.about_container {
    display: flex;
    align-items: flex-center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto 35px;
    flex-wrap: wrap;
}

.about_item {
    margin-right: 15px;
    text-align:justify;
    max-width: 700px;
}

.faq{
    margin-left: 20%;
    margin-right:20%;
    margin-bottom: 20px;
    background-color: rgb(241,241,241);
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.faq summary {
    font-weight: bold;
}
.faq p {
    padding: 10px;
    font-size: 0.95em;
    color: #777777;

}



.git_container {
    display: flex;
    justify-content: center;
}

.git_item {
    margin-left: 20%;
    margin-right: 20%;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    height: 320px;
    align-content:space-between;


}


.git_formcontainer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    padding: 10px;
    height: 300px;
}



.mandatory {
    color: red;
    font-weight: bold;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-item {
    font-size: 0.75em;
    margin-bottom: 5px;
    
}
.footer-column#fc3 {
    text-align: right;
}

.impressum {
    font-size: 12px;
    padding-bottom: 5%;
}

.impressum p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5px;

}
.copyright {
    text-align: center;
    font-size: 0.75em;
    margin: 5%;
}
#logo {
    font-weight: bold;
    font-size: 30px;
}
#hero_img{
    border-radius: 50%;
}

#hero p{
    padding-left: 3%;
    padding-right:3%;
}

#logo {
    margin-left: 5px;
}
#git {
    background-color: rgb(241, 241, 241));
}
#git label {
    margin-left: 3%;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 12px;
}

#git .inputelement{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    border-color: rgb(241, 241, 241);
    outline: none;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 18px;
}

#git_submitbutton {
    color: white;
    background-color: blue;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    border-radius: 5px;
    font-size: 18px;
}

#projects {
    background-color: rgb(241, 241, 241);
    /*border: 5px solid rgb(241, 241, 241);*/
}

@media screen and (max-width: 600px) {
    .snt_container {
        width: 300px;
        
    }
}