* {
    padding: 0;
    margin: 0;
}

body {
        font-family: 'Helvetica';

}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-right: 5px;
}

header{
    background-color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between; /*main axis*/

}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
}

h3 {
    font-weight: bold;
    text-align: center;
}


footer {
    background-color: darkblue;
    color: white;
    padding: 50px;
}
#about_img {
    margin-bottom: 25px;
}
.chapter {
    text-align: center;
    color: darkblue;
    margin-bottom: 50px;
}

.chapter_box {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.snt_container {
    display: flex;
    flex-direction: row;
    align-items: flex-center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.snt_item {
    background-color: rgb(241,241,241);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    width:200px;
    
}

.projects_container {
    display: flex;
    flex-direction: row;
    align-items: flex-cemter;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.project_container {
    background-color: white;
    border-radius: 5px;
}

.project_item_top {
    width: 200px;
    border-radius: 5px 5px 0px 0px;
    background-color: darkgray;
    padding: 5px;
    text-align: center;
}
.project_item_bottom {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    padding-bottom: 15px;
}

.project_item_text {
    padding-bottom: 15px;
}
.keyword {
    background-color: lightblue;
    border-radius: 10px;
    color: darkblue;
    padding: 3px;
    margin: 3px;
}
#logo {
    margin-left: 5px;
}


.about_container {
    display: flex;
    align-items: flex-start;
}

.about_item {
    margin-right: 15px;
    
}

.faq{
    margin-left: 20%;
    margin-right:20%;
    background-color: rgb(241,241,241);
    padding: 10px;
    border-radius: 5px;
}

#hero {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;

}
#hero_img{
    border-radius: 50%;
}
#about {
    background-color: rgb(241, 241, 241);
    /*border: 5px solid rgb(241, 241, 241);*/
}

#projects {
    background-color: rgb(241, 241, 241);
    /*border: 5px solid rgb(241, 241, 241);*/
}

@media screen and (max-width: 600px) {
    .snt_container {
        width: 400px;
        
    }
}